body {
  background-color:  #f2f2f2;
}
.mainPicture, .aboutMeText{
  width: 105%;
  position:fixed;
  bottom:0px;
}

.name, .softwareEngineer {
  text-align: center;
}

.linksTable {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.linksTable td {
  width: 15%;
  text-align: center;
}

